h1{
	color: pink;
    font-family:arial;
    font-size:50px;
    
}

a{
	text-decoration: none;
}
.fondot { 
width: 80%; 
background-color: white;
margin: auto;
margin-top: 100px;
color: black; 
text-align: center;

}

.fondot p {

font-size: 21px;
margin: 20px;
text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.articulo {
	margin: 40px;
	text-align: center;
	

}
.articulo iframe{

}
.articulo p {
	width: 45%;
	float:right;
	font-size: 21px;
	text-align: right;
}
 .articulo h2{
 	text-align: center;
 	margin-bottom: 40px;
 	margin-top: 50px;
 }

.labios {
	text-align: center;
	
	
}


.texto {

	margin-bottom: 40px;
 	margin-top: 50px;
 	margin: 40px;
}
.texto p {

    width: 45%;	
	float:right;
	font-size: 21px;
	text-align: right;

}

.base {

	margin-bottom: 40px;
 	margin-top: 50px;
 	margin: 40px;

}

.base p {
 

	width: 40%;	
	float:right;
	font-size: 21px;
	text-align: right;

}
.contornofoto {

	font-size: 21px;
	text-align: center;
}

